@font-face {
    font-family: 'raleway-regular';
    src: url('../fonts/raleway-regular.eot');
    src: url('../fonts/raleway-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-regular.woff') format('woff'),
         url('../fonts/raleway-regular.ttf') format('truetype'),
         url('../fonts/raleway-regular.svg#raleway-regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'raleway-semibold';
    src: url('../fonts/raleway-semibold.eot');
    src: url('../fonts/raleway-semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-semibold.woff') format('woff'),
         url('../fonts/raleway-semibold.ttf') format('truetype'),
         url('../fonts/raleway-semibold.svg#raleway-semibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'raleway-bold';
    src: url('../fonts/raleway-bold.eot');
    src: url('../fonts/raleway-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-bold.woff') format('woff'),
         url('../fonts/raleway-bold.ttf') format('truetype'),
         url('../fonts/raleway-bold.svg#raleway-bold') format('svg');
    font-weight: normal;
    font-style: normal;

}




body{
    background: #fff;
	overflow: inherit;
    overflow-y: hidden;
}


.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}



.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	
}
.loginform ul {
    padding: 0;
    margin: 0;
}
.loginform li {
    display: inline;
    float: left;
}
label {
    display: block;
    color: #999;
}
.cf:before,
.cf:after {
    content: ""; 
    display: table;
}
 
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}
:focus {
    outline: 0;
}
.loginform input[type=submit] {
    border: 1px solid rgba(0, 0, 0, 0.3);
   
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#64c8ef), color-stop(100%,#00a2e2)); 
  
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#64c8ef', endColorstr='#00a2e2',GradientType=0 ); 
    color: #fff;
    padding: 5px 15px;
    margin-right: 0;
    margin-top: 15px;
    border-radius: 3px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
}


.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }


.wrapper{
    width: 1100px;
    margin: 0 auto;
	z-index: 1000;
}
.navbar{
	position: fixed;
	float : right;
	margin-left : 50%;
	z-index:1001;
	background-color: #048BCF;
	width:100%;
	height:10%;
}

h1, h2, h3, h4, h5 ,h6{
    color: #626262;
    font-family: "raleway-regular", arial;
    letter-spacing: 1px;
}

h1              { font-size: 2em; margin: .67em 0 }
h2              { font-size: 1.5em; margin: .75em 0 }
h3              { font-size: 1.17em; margin: .83em 0 }
h5              { font-size: .83em; margin: 1.5em 0 }
h6              { font-size: .75em; margin: 1.67em 0 }
h1, h2, h3, h4,
h5, h6          { font-weight: bolder }

.clearfix:before,  
.clearfix:after {  
    content: " ";  
    display: table;  
}  
.clearfix:after {  
    clear: both;  
}  
 
.clearfix {  
    *zoom: 1;  
}








.billboard{
    width: 100%;
    height: 768px;
	position: relative;
	overflow: hidden;
    
    
}

.billboard.light{
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-image: url(../img/billboard.jpg);
	background-repeat: no-repeat;
}

.billboard.dark{
    background: url('../img/billboard2.jpg') no-repeat;
    
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}


.billboard .shadow{
    position: absolute;
    width: 100%;
    height: 142px;
    bottom: 0;
    left: 0;
    margin-bottom: -1px;
    background: url('../img/shadow.png') repeat-x;
}

.billboard .caption{
 text-align: center;
    
    
  
}

.billboard .caption.light{
    color: #fff; 
    
}

.billboard .caption.dark{
    color: #5d5d5d;
}

.billboard .caption h1{
    font-family: "raleway-bold";
    font-size: 120px;
    font-weight: bold; 
    margin-bottom: 30px;
    
}

.billboard .caption.light h1{
    color: #0184CA;
}

.billboard .caption.dark h1{
    color: #5d5d5d;
}

.billboard .caption p{
    font-family: "raleway-regular";
    font-size: 18px;
    margin-bottom: 30px;
}

.billboard .caption.light p{
    color: #fff;
}

.billboard .caption.dark p{
    color: #5d5d5d;
}

.billboard .caption hr{
    display: inline-block;
    height: 1px;
    width: 30px;
    border: 0!important;   
    margin: 0;
    padding: 0;
}

.billboard .caption.light hr{
    background: #fff;
}

.billboard .caption.dark hr{
    background: #5d5d5d;
}






header{
    width: 100%;
    height: 125px;
}

header .logo{
    float: left;
    margin-top: 50px;
}

header nav{
    float: right;
    margin-top: 57px;
}

ul{
	margin-top:2%;
	
}
header nav ul li{
    list-style: none;
    display: block;
    float: left;
    margin-left: 50px;
}

header nav ul li a{
    text-decoration: none;  
    font-family: "raleway-regular";
    font-size: 14px;

    transition:all .2s linear;
    -webkit-transition:all .2s linear;
    -moz-transition:all .2s linear;
    -o-transition:all .2s linear;
}

header.light nav ul li a{  
    color: #fff;
}

header.light nav ul li a:hover{
    color: #B9B9B9;
}

header.dark nav ul li a{  
    color: #5d5d5d;
}

header.dark nav ul li a:hover{
    color: #919191;
}





.backgrounddee{
    background: url('../img/billboard2.jpg') no-repeat;
    
    background-size: cover;

}
.services ul{
    position: absolute;
    right: 10%;
    top:20%;
    
    
}

.services ul li{
    list-style: none;
    display: block;
    width: 313px;
	height: 100%;
    float: left;
    margin-left: 80px;
    text-align: center;

}

.services ul li:first-child{
    margin-left: 0;
}

.services ul li .separator{
    display: block;
    width: 1px;
    height: 20px;
    background: #f6f6f6;
    margin: 20px auto;
}

.services ul li h2{
    color: #fff;
    font-family: "raleway-bold";
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.services ul li p{
   color: #fff;
    font-family: "raleway-regular";
    font-size: 14px;
    line-height: 28px; 
    margin-top: 40px;
    letter-spacing: .5px;
}
.title{
    text-align: center;
    
}

.title h2{
    color: #0184CA;
    font-family: "raleway-bold";
    font-size: 30px;
    font-weight: bold;
    margin: 0 0 20px 0;
    text-transform: uppercase;
    right : 40%;
    top: 40%;
    
}
.title h3{
    color: #9b9b9b;
    font-family: "raleway-regular";
    font-size: 14px;
    margin: 0 0 20px 0;
    font-weight: normal;
    align : center
}

.title hr.separator{
    display: block;
    width: 40px;
    height: 1px;
    background-color: #ebebeb;
    margin: 0 auto;
    padding: 0;
    border: 0!important;
}
.titlet{
    align:center;
    color: #048BCF;
    font-family: "raleway-bold";
    font-size: 30px;
    font-weight: bold;
    margin: 0 0 20px 0;
    text-transform: uppercase;
    right : 60%;
    top: 40%;
    
}





.backgroundtaek{
    background-color:white;
    
    background-size: cover;
    height: 768px;
    width: 100%;

}


.asdf{
    margin-top: 100px;
    right: 10%;
    top:40%;
}

.asdf ul{
    margin-top: 70px;
    list-style: none;
}

.asdf ul li{
    display: block;
    float: left;
    margin-left: 80px;
    width: 313px;
}
.asdfg h2{
    margin-top: 100px;
    right: 10%;
    top:50%;
}
.asdfg {
    margin-top: 100px;
    right: 10%;
    top:40%;
}

.asdfg ul{
    margin-top: 70px;
    list-style: none;
}

.asdfg ul li{
    display: block;
    float: left;
    margin-left: 80px;
    width: 313px;
}
.asdfg h2{
    margin-top: 100px;
    right: 10%;
    top:50%;
}


footer{
    padding: 35px 0;
    overflow: hidden;
}

footer .footer_logo{
    float: left;
}

footer .rights p{
    float: left;
    color: #838181;
    font-family: "raleway-regular";
    font-size: 13px;
    margin: 5px 0 0 40px; 
}

footer .rights p a{
    color: #777;
    font-family: "raleway-semibold";
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
}

footer nav ul{
    float: right;
    overflow: hidden;
    list-style: none;
    margin-top: 5px; 
}

footer nav ul li{
    float: left;
    margin-left: 25px;
}

footer nav ul li a{
    color: #838181;
    font-family: "raleway-regular";
    font-size: 13px;
    text-decoration: none;

    transition:all .2s linear;
    -webkit-transition:all .2s linear;
    -moz-transition:all .2s linear;
    -o-transition:all .2s linear;
}

footer nav ul li a:hover{
    color: #616161;
}
.asdfgh h2{
    margin-top: 100px;
    right: 10%;
    top:50%;
}
.asdfgh h3{
    margin-top: 100px;
    right: 10%;
    top:50%;
}
.asdfgh {
    margin-top: 100px;
    right: 10%;
    top:40%;
}

.asdfgh ul{
    margin-top: 70px;
    list-style: none;
}

.asdfgh ul li{
    display: block;
    float: center;
    margin-left: 80px;
    width: 313px;
}
.asdfgh h2{
    margin-top: 100px;
    right: 10%;
    top:50%;
}

